.env

__pycache__/
*.py[cod]
*$py.class
__pycache__

*/migrations/

/staticfiles/
/media/

venv/
env/

*.sqlite3

*.log
logs/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

Thumbs.db

vercel.json